<p-dialog
	[(visible)]="visible"
	[modal]="true"
	[draggable]="false"
	[resizable]="false"
	[closable]="true"
	[style]="{ width: '38rem' }"
	(onHide)="close()"
	header="Bond-Aktionen"
>
	<div class="bond-actions__meta">
		<div class="bond-actions__meta-row">
			<span class="bond-actions__label">ISIN</span>
			<span class="bond-actions__value">{{ bond?.isin }}</span>
		</div>
		<div class="bond-actions__meta-row">
			<span class="bond-actions__label">Fälligkeit</span>
			<span class="bond-actions__value">{{ bond?.maturityDate | date: 'dd.MM.yyyy' }}</span>
		</div>
		<div class="bond-actions__meta-row">
			<span class="bond-actions__label">Verfügbare Summe</span>
			<span class="bond-actions__value">{{ bond?.notionalCap }} €</span>
		</div>
	</div>

	@if (isInvestor) {
		<div class="bond-actions__section">
			<div class="bond-actions__title">Investor</div>
			<form [formGroup]="buyForm" (ngSubmit)="buyBond()" class="bond-actions__row">
				<p-inputnumber inputId="amount" formControlName="amount" mode="decimal"placeholder="Kaufbetrag" [useGrouping]="false"></p-inputnumber>
				<p-button label="Kaufen" icon="pi pi-shopping-cart" [loading]="buyLoading" type="submit"></p-button>
			</form>
			<div class="bond-actions__row">
				<span class="bond-actions__value">{{ bond?.balance }} €</span>
				<p-button label="Einlösen" icon="pi pi-wallet" (click)="redeem()" [loading]="isRedeeming"></p-button>
			</div>
		</div>
	}

	@if (isIssuer) {
		<div class="bond-actions__section">
			<div class="bond-actions__title">Emittent</div>
			<div class="bond-actions__row">
				<p-button label="Zeichnung stoppen" (click)="closeIssuance()" icon="pi pi-stop" [loading]="isClosing"></p-button>
			</div>
			<div class="bond-actions__row">
				<span class="bond-actions__value">{{ bond?.requiredPayout }} €</span>
				<p-button label="Payout funden" icon="pi pi-money-bill" (click)="fundPayout()" [loading]="isFunding"></p-button>
			</div>
			<form [formGroup]="whitelistForm" (ngSubmit)="whitelist()" class="bond-actions__row">
				<input id="address" type="text" pInputText formControlName="address" placeholder="Adresse" />
				<p-button label="Adresse freigeben" icon="pi pi-check" [loading]="whitelistLoading" type="submit"></p-button>
			</form>
		</div>
	}
</p-dialog>
